@charset "UTF-8";

.barra-nav-header {
    background-color: var(--cor5);
}

.btn-nav-header {
    border: 5px;
    padding: 15px;
    font-weight: bolder;
    color: var(--cor1);
    background-color: var(--cor5);
}

.btn-nav-header:hover {
    background-color: var(--cor3);
    border-radius: 8px;
    color: var(--cor5);
}

.titulo-android {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
}

.degrade-titulos {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: #0f7d0a;
    padding-left: 8px;
}

.negrito-verde {
    color: #0f7d0a;
    font-weight: bold;
}

.imagem-centralizada {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-principal {
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 25px;
}

.paragrafo-indentado {
    text-indent: 30px;
}

.img-pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

.quadro-iframe-verde {
    background-color: var(--cor5);
    padding: 20px;
    box-shadow: 0 0 10px;
    display: flex;
    justify-content: center;
    margin: 0px -30px 30px -30px;
    max-width: 1400px;
}

.quadro-iframe-verde iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.cabecalho-quadro-verde {
    background-color: var(--cor4);
    color: #ffffff;
    padding: 0.5px;
    padding-left: 15px;
    font-family: var(--fonte-padrao);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 4px 4px 4px #00000034;
}

.quadro-verde-claro {
    background-color: var(--cor1);
    padding: 12px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 4px 4px 8px #00000034;
}

.container-listas {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}

.lista-checks {
    list-style-type: '\2714\00A0\00A0';
}
