@charset "UTF-8";

@font-face {
    font-family: 'embebedado';
    src: url('../fonts/BebasNeue-Regular.otf') format('opentype'), url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --corBranca: white;
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'embebedado', cursive;
    --fonte-android: 'Android', cursive;
}

header {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: var(--corBranca);
    box-shadow: 0px 7px 9px #00000034;
}

header > div > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    display: flex;               
    justify-content: center;     
    align-items: center;  
    margin-top: 0px;
    text-shadow: 2px 2px 0px #000000;
}

header > div > p {
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    display: flex;              
    text-align: center;
    justify-content: center;     
    align-items: center;  
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px #000000;
    margin-bottom: 0px;
}

nav {
    background-color: var(--cor5);
    padding: 5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor0);
}

main {
    margin: auto;
    padding: 0;
    display: flex;
    min-width: 300px;
    max-width: 1000px;
    justify-content: center;
    background-color: var(--cor0);
}

p {
    font-family: var(--fonte-padrao);
    font-weight: 500;
    font-size: 1em;
    line-height: 2;
    align-content: center;
    text-align: justify;
}

main a {
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor1);
    font-weight: bold;
    padding: 2px 6px;
    margin: 2px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

a.externo::after {
    content: '\00A0\1F517';
}

footer {
    background-color: #003300;
    font-size: 0.8rem;
    padding: 5px;
    color: var(--corBranca);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p {
    margin: 0;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
